<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InnovacodeProyecto1">
        <activity
            android:name=".adapter_reportes.Content.adapter_reportes"
            android:exported="false" />
        <activity
            android:name=".Reportes.Content.Reportes"
            android:exported="false" />
        <activity
            android:name=".register_salida_producto.Content.Register_Salida_Producto"
            android:exported="false" />
        <activity
            android:name=".adapter_alertas.Content.adapter_alertas"
            android:exported="false" />
        <activity
            android:name=".alertas.Content.Alertas"
            android:exported="false" />
        <activity
            android:name=".register_entrada_producto.Content.Register_Entrada_Producto"
            android:exported="false" />
        <activity
            android:name=".adapter_inventario.Content.adapterInventario"
            android:exported="false" />
        <activity
            android:name=".Perfil.Content.Perfil"
            android:exported="false" />
        <activity
            android:name=".auth.ui.Register"
            android:exported="false" />
        <activity
            android:name=".Dashboard.Content.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Inventarioform.Content.Inventarioform"
            android:exported="false" />
        <activity
            android:name=".Inventario.Content.Inventario"
            android:exported="false" />
        <activity
            android:name=".auth.ui.Login"
            android:exported="false" />
        <activity
            android:name=".MainVentas"
            android:exported="false" />
        <activity
            android:name=".ComprasActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>